@import "./fonts/lato.css";
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


