@import "./fonts/lato.css";
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.clearfix:after, .cf:after {
    content: "";
    display: table;
    clear: both;
}

.border-fix {
    position: relative;
}

.border-fix:before {
    border: 1px solid transparent;

    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    pointer-events: none;
}


.wrap {
    max-width: 96rem;
    margin: 0 auto;
}

#__next {
    min-height: calc(100vh + 1px);
}

body {
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: none;

    background: transparent url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' %3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='12' height='12'%3E%3C/svg%3E%0A") repeat-y !important;
}

body::-webkit-scrollbar-thumb {;
    background: rgba(0, 0, 0, 1);
}


body::-webkit-scrollbar-thumb:window-inactive {
    background: none;
}


