@import "./fonts/lato.css";
/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.border-fix {
    position: relative;
}

.border-fix:before {
    border: 1px solid black;

    z-index: 1;
    position: absolute;
    content: "";
    display: block;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    pointer-events: none;
}

/*.border-black{*/
/*    border-color: transparent;*/
/*}*/

